<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="inputPath" value="%temp%\AutoZip\input"/>
    <add key="outputPath" value="%temp%\AutoZip\output"/>
    <add key="modeNommage" value="DATE"/>
    <add key="periodeAttenteSecondes" value="2"/>
    <add key="append" value="true"/>
  </appSettings>
</configuration>