<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="modeNommageZip" value="DATE"/>
    <add key="inputPath" value="C:\mon\chemin"/>
    <add key="outputPath" value="C:\mon\chemin"/>
    <add key="periodeEnSecondes" value="30"/>
    <add key="append" value="false"/>
  </appSettings>
</configuration>